.top {
  padding: 250px;
}

.navBrand__bg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
}

footer {
  padding: 100px 0px;
}

a {
  transition: 0.45s ease-in-out;
}

a:hover {
  opacity: 0.6;
}

figure {
  display: block;
  position: relative;
  max-width: 400px;
  margin: auto;
}

figcaption {
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: 0.45s ease-in-out;
}

.figure__img {
  width: 400px;
  height: auto;
  border-radius: 12px;
}

figure:hover .figure__img {
  opacity: 0.3;
}

figure:hover figcaption {
  opacity: 100%;
}

.nav-link:hover {
  color: cyan !important;
}

.navbar-nav {
  margin-left: auto;
}

.middle__about {
  margin-bottom: 100px;
}

@media only screen and (max-width: 990px) {
  .figure__img {
    width: 70vw;
  }
  figure {
    max-width: 70vw;
  }
  .top {
    padding: 100px;
  }
}
